@using MiniCoreProject.DTO.Entities
@model List<Skill>

<div class="col-six tab-full right">
    <h3>Becerilerim</h3>

    <ul class="skill-bars">
     
        @foreach (var item in Model)
        {
            <li>
                <div class="progress percent86"></div>
            <strong>@item.Title</strong>
        </li>
        }
    </ul>
</div>
