<section id="stats" class="s-stats">
    <div class="row block-1-4 block-tab-1-2 block-mob-full stats">

        <div class="col-block stats__col ">
            <div class="stats__count">
               @ViewBag.first
            </div>
            <h4>Referansım</h4>
        </div>
        <div class="col-block stats__col">
            <div class="stats__count">
             @ViewBag.second
            </div>
            <h4>Projem</h4>
        </div>
        <div class="col-block stats__col stats__col--highlight">
            <div class="stats__upsign">
                <a href="#"><i class="im im-arrow-up" aria-hidden="true"></i></a>
            </div>
            <div class="stats__count">
              @ViewBag.third
            </div>
            <h4>Yeteneklerim</h4>
        </div>
        <div class="col-block stats__col">
            <div class="stats__count">
               @ViewBag.fourth
            </div>
            <h4>İletişimim</h4>
        </div>

    </div>
</section>