@model Contact
@{
    ViewData["Title"] = "UpdateContact";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">İletişim</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Güncelleme Sayfası</div>
                    </div>
                    <div class="card-body">

                        <form method="post">
                            <input type="hidden" asp-for="ContactID" />
                            <label>Açık Adres</label>
                            <input type="text" asp-for="Address" class="form-control" />
                            <br />
                            <label>Şehir</label>
                            <input type="text" asp-for="City" class="form-control" />
                            <br />
                            <label>Telefon</label>
                            <input type="text" asp-for="Phone" class="form-control" />
                            <br />
                            <label>e-Mail</label>
                            <input type="email" asp-for="Email" class="form-control" />
                            <br />
                            <a href="/Contact/Index" class="btn btn-outline-secondary btn-round">Vazgeç</a>
                            <button class="btn btn-outline-warning btn-round">Güncelle</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>