
<div class="sidebar">
    <div class="scrollbar-inner sidebar-wrapper">
        <br />
        <div class="user">
            <div class="photo">
                <img src="~/ReadyDashboard/assets/img/profile.jpg">
            </div>
            <div class="info">
                <a class="" data-toggle="collapse" href="#collapseExample" aria-expanded="true">
                    <span>
                       Ömer Faruk Gözegir
                        <span class="user-level">Admin</span>
                        <span class="caret"></span>
                    </span>
                </a>
                <div class="clearfix"></div>

                <div class="collapse in" id="collapseExample" aria-expanded="true" style="">
                    <ul class="nav">
                        <li>
                            <a href="#profile">
                                <span class="link-collapse">Profilim</span>
                            </a>
                        </li>
                        <li>
                            <a href="#edit">
                                <span class="link-collapse">Şifre Değiştir</span>
                            </a>
                        </li>
                        <li>
                            <a href="#settings">
                                <span class="link-collapse">Ayarlar</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <ul class="nav">
            <li class="nav-item">
                <a href="#">
                    <i class="fa-regular fa-gauge" style="color: #215e7b;"></i>
                    <p style="color: #215e7b;">Dashboard</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Default/Index/">
                    <i class="fa-regular fa-arrow-up-to-dotted-line" style="color: #215e7b;"></i>
                    <p style="color: #215e7b;">Siteye Git</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/About/AboutList">
                    <i class="fa-regular fa-address-card" style="color: #215e7b;"></i>
                    <p style="color: #215e7b;">Hakkımda</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/ToDoList/Index/">
                    <i class="fa-regular fa-list-check" style="color: #215e7b;"></i>
                    <p style="color: #215e7b;">Yapılacaklar</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Experience/ExpList/">
                    <i class="fa-regular fa-chart-user" style="color: #215e7b;"></i>
                    <p style="color: #215e7b;">Deneyimler</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Feature/FeatureList/">
                    <i class="fa-regular fa-fire-flame-curved" style="color: #215e7b;"></i>
                    <p style="color: #215e7b;">Öne Çıkan Alan</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Contact/Index/">
                    <i class="fa-regular fa-circle-phone-flip" style="color: #215e7b;"></i>
                    <p style="color: #215e7b;"> İletişim Bilgileri</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="icons.html">
                    <i class="fa-regular fa-lamp-desk" style="color: #215e7b;"></i>
                    <p style="color: #215e7b;">Yeteneklerim</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Referance/Index/">
                    <i class="fa-regular fa-ghost" style="color: #215e7b;"></i>
                    <p style="color: #215e7b;">Referanslarım</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Social/SocialList/">
                    <i class="fa-regular fa-icons" style="color: #215e7b;"></i>
                    <p style="color: #215e7b;">Sosyal Medya</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Message/Inbox/">
                    <i class="fa-regular fa-envelope" style="color: #215e7b;"></i>
                    <p style="color: #215e7b;">Gelen Kutusu</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Statistic/Index/">
                    <i class="fa-regular fa-chart-simple" style="color: #215e7b;"></i>
                    <p style="color: #215e7b;">İstatistikler</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="icons.html">
                    <i class="fa-light fa-circle-xmark" style="color: #215e7b;"></i>
                    <p style="color: #215e7b;">Çıkış Yap</p>
                </a>
            </li>
        </ul>
    </div>
</div>